@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body{
	background-color:#FFFFFF
}

.containersize{
max-height: auto;
max-width: auto;
}

.carouseltext{
color: white;
}

.no-gutters {
margin: 0px 0px 20px 0px;
padding: 0px 0px 0px 0px;
}

.textincard{
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
text-align: center;
font-size: 30px;
color: white;
margin-top: 55px;
}

.container-footer
{
height: 120px;
width: auto;
background-color: #446E7D;
}
