@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }

.topbackground {

    background-image: url("../image/Sea_background.png");
    text-align: center;
    background-size: cover;
    
    
    }
.textoutline {
     color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.center {

    display: block;
    margin-left: auto;
    margin-right: auto; 
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.gap {
    column-gap: 20px;
    margin-left: auto;
    margin-right: auto; 
  }

.circlecontainer{
        display: block;
        margin-left: auto;
        margin-right: auto
    }